.course-summary-card {
  border: none;
  border-radius: 5px;

  background-color: #256d85;
  color: #fff;
  font-size: 18px;
  transition: all 0.35s ease-in-out;
}

.course-summary-card:hover {
  background-color: #205375;
  cursor: pointer;
}
