.course-summary-card {
  border: none;
  border-radius: 5px;

  /* border: 3px solid;
  padding: 10px;
  border-image-source: linear-gradient(45deg, red, blue);
  border-image-slice: 1; */
  background-color: #256d85;
  color: #fff;
  font-size: 18px;
  transition: all 0.35s ease-in-out;
}

.course-summary-card:hover {
  background-color: #205375;
  cursor: pointer;
}
