.left-sidebar {
  background-color: #254b62;
  color: #fff;
  font-size: 17px;
  margin-top: 50px;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.35s ease-in-out;
}

.category-name {
  text-decoration: none;
  color: #fff;
}

.category-name:hover {
  color: #8fe3cf;
}
